@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #161A30;
  --foreground-color: #F0ECE5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #EEEEEE;
    --foreground-color: #222831;
  }
}

body {
  /* color: var(--foreground-color);
  background-color: var(--foreground-color); */
}
